<%= form_with(model: note, class: "shadow p-3 mb-3 bg-dark rounded") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= form.label :name,  'Name', class: "col-2 col-form-label text-light" %>
    <div class="col-10"> 
      <%= form.text_field :name, class: "form-control shadow rounded" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :book, 'Book', class: "col-2 col-form-label text-light" %>
    <div class="col-10"> 
      <%= form.collection_select(:book, @user_books, :id, :name, selected: @selected_book, class: "form-control shadow rounded") %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :content,  "Note's content", class: "col-2 col-form-label text-light" %>
    <div class="col-10"> 
      <%= form.text_area :content, size: "70x5", class: "form-control shadow rounded" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <%= form.submit "Save", class: "btn btn-light btn-lg" %>
  </div>
<% end %>
