<%= form_with(model: user, class: "shadow p-3 mb-3 bg-dark rounded") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form-group row">
      <%= form.label :email, 'Email', class: "col-2 col-form-label text-light" %>
      <div class="col-10"> 
        <%= form.email_field :email, class: "form-control shadow rounded" %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :username, 'Username', class: "col-2 col-form-label text-light" %>
      <div class="col-10"> 
        <%= form.text_field :username, class: "form-control shadow rounded" %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :password, 'Password', class: "col-2 col-form-label text-light" %>
      <div class="col-10"> 
        <%= form.password_field :password, class: "form-control shadow rounded" %>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <%= form.submit "Save", class: "btn btn-light btn-lg" %>
    </div>
  </div>
<% end %>
