<p id="notice"><%= notice %></p>

<h1 class="text-center mt-4">Books</h1>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <table class="table table-hover table-striped ">
            <thead class="thead-ligh">
              <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Notes </th>
                <th scope="col" colspan="4"> Options </th>
              </tr>
            </thead>

            <tbody>
              <% @books.each do |book| %>
                
                <tr>
                  <td><%= book.name %></td>
                  <td><%= book.notes.length %></td>
                  <td><%= link_to 'Details', book, class: "btn btn-outline-dark" %></td>
                  <td><%= link_to 'Export', export_book_path(book), class: "btn btn-outline-dark" %></td>
                  <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-outline-dark #{book.global? ? 'disabled' : ''}" %></td>
                  <td><%= link_to 'Delete', book, method: :delete, data: { confirm: "#{book.global? ? 'This will wipe the book clean, are you sure?' : 'Are you sure?' }" }, class: "btn btn-outline-danger"  %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
    </div>
  </div>
</div>

  <div class="row justify-content-md-center">
    <%= link_to 'New Book', new_book_path, class: "btn btn-outline-light" %>
    <%= link_to 'Export all books' ,export_all_books_path, class: "btn btn-outline-light" %>
  </div>